# Gradle
.gradle/
**/build/

# Local config
local.properties

# Android Studio
*.iml
.idea/
.DS_Store

# Native
.externalNativeBuild/
.cxx/

# Generated
captures/

# Release outputs
**/release/
*.apk
*.aab

# Models (YOLO etc)
*.pt
*.onnx
*.weights

# Zips
*.zip